@import url('https://fonts.googleapis.com/css?family=Monoton|Raleway:400,700');

:root {
    font-size: calc(0.5em + 1vw);
    box-sizing: border-box;
    --main-bg-color: #f5f5f5;
    font-family: 'Raleway', sans-serif;
}

*, ::before, ::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--main-bg-color);
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.content {
    max-width: 2000px;
    margin: 0 auto;
}

/* Style the nav bar header, brand and social bars */

.header {
    min-height: 100vh;
    background-image: url(../images/concierto.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.header{
    width: 100%;
}
.header > * {
    position: relative;
    z-index: 1;
}
.header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.5;
    z-index: 0;
}
.header nav {
    align-self: flex-start;
    width: 100%;
    margin-bottom: 60px;
}

.menu {
    display: flex;
    list-style: none;
    background-color: black;
    align-items: center;
    justify-content: space-around;
    
}

.menu {
    position: relative;
    height: 56px;
}

.menu .logo {
    position: absolute;
    top: 6px;
    padding: 10px;
    background: black;
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    height: 100px;
    width: 100px;
}

.menu .logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.menu a {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8em;
    cursor: pointer;
}

.menu li {
    color: white;
    text-align: center;
}

.menu li:hover::after {
    content: "";
    position: relative;
    background-color: white;
    height: 1px;
    width: 140%;
    transform: translate(-10%,0%);
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
    display: block;
}
.menu li.logo:hover::after {
    display: none;
}

.header h1 {
    font-family: 'Monoton', cursive;
    font-size: 5em;
    letter-spacing: 2px;
    color: white;
    text-shadow: 0 0 3px orange;
    font-weight: 400;
}

.slogan {
    color: white;
    text-shadow: 0 0 3px orange;
    width: 100%;
    text-align: center;

}

.header-socials {
    width: 50%;
    margin: 0 auto;
}
.header-socials ul a {
    color: inherit;
}

.header-socials ul {
    display: flex;
    list-style: none;
    font-size: 2em;
    color: white;
    justify-content: space-around;
}

.header .arrow-down {
    font-size: 2em;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
}

.header .arrow-down:hover{
    color: blue;
}

@media only screen and (max-width: 600px){
    .menu .logo {
        display: none;
    }

    .menu {
        flex-direction: column;
        height: auto;
    }
    .menu li {
        padding: 1em;
    }

    header h1 {
        font-size: 4em;
    }
}

/*Styling section feutures*/ 

.feutures {
    display: grid;
    padding: 0.5em;
    grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
    grid-auto-rows: auto;
    grid-gap: .33%;
    grid-row-gap: 1em;
}

.feuture article {
    display: flex;
    flex-direction: column;
    border-radius: 0.5em;
    overflow: hidden;
    border: 1px solid #dbdada;
    box-shadow: 2px 3px 6px #dbdada;
    
}

.feuture article img {
    width: 100%;
    height: 250px;
    max-height: 250px;
    object-fit: cover;
    object-position: center;
}

.feuture article h2{
    padding: 0.5em;
    color: #612e1d;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.feuture article p {
    padding: 0.8em 0.2em 0.8em 0.8em;
}

.feuture article a {
    width: 90%;
    margin: 1em auto;
    text-decoration: none;
    color: var(--main-bg-color);
    font-weight: 400;
    display: block;
    text-align: center;
    padding: 1em;
    background-color: orange;
    border-radius: 0.2em;
}

.feuture article a:hover {
    background-color: var(--main-bg-color);
    color: orange;
}

@media only screen and (max-width: 760px){

    .feutures {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 1.5em;
    }

}