@import url('https://fonts.googleapis.com/css?family=Monoton|Raleway:400,700');

:root {
    /* To get a responsive base font size  */
    font-size: calc(0.5em + 1vw);
    /* To have a predictable width and height */
    box-sizing: border-box;
    /* Define variables for the base colors */
    --main-bg-color: #f5f5f5;
    --nav-color: black;
    /* Define a font family for the document */
    font-family: 'Raleway', sans-serif;
}

/* Inherit the box-sizing property. Also delete padding and margin properties for all elements*/
*,
::before,
::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    /* Using the variable defined previously */
    background-color: var(--main-bg-color);
    overflow-x: hidden;
    overflow-y: auto;
}

.content {
    max-width: 2000px;
    margin: 0 auto;
}

/* Style the navbar header, brand and slogan */

.header {
    /* To make the element take up full height of all screen sizes, but it can be bigger if needed */
    min-height: 100vh;
    width: 100%;
    background-image: url(../images/concierto.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/****************Reminder*******************************
    When an element's position property has been set to a value 
    other than static, such as relative or absolute, 
    then the property 'z-index' can be used to display the content in layers or levels. 
    The values of z-index can be numbers its default value is 'auto'. 
    auto z-index value makes an element appear on the base level.
    All levels or layers are stacked on top of each other.
    The higher the value, the higher the element will appear on the stack of elements.
    
    This means an element that has the z-index set to one will appear on top
    of any element with a z-index value less than 1 

********************************************************/
/* To add a semi-transparent overlay as the header's background  */
.header::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    z-index: 0; 
    opacity: 0.5;
}

/* To make the header's children appear on top of the overlay added above */
.header>* {
    position: relative;
    z-index: 1;
}

.header nav {
    /* Whit this the nav appear on start of header*/
    align-self: flex-start;
    width: 100%;
    margin-bottom: 60px;
}

.menu {
    display: flex;
    list-style: none;
    background-color: var(--nav-color);
    align-items: center;
    justify-content: space-around;
}

.menu {
    position: relative;
    height: 56px; /* This important because is needed for de logo overflow*/
}

.menu .logo {
    position: absolute;
    top: 6px;
    padding: 10px;
    background: var(--nav-color);
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    height: 100px;
    width: 100px;
}

.menu .logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.menu a {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8em;
    cursor: pointer;
}

.menu li {
    color: white;
    text-align: center;
}

.menu li:hover::after {
    content: "";
    position: relative;
    background-color: white;
    height: 1px;
    width: 140%;
    transform: translate(-10%, 0%);
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
    display: block;
}

.menu li.logo:hover::after {
    display: none;
}

.header h1 {
    font-family: 'Monoton', cursive;
    font-size: 5em;
    letter-spacing: 2px;
    color: white;
    text-shadow: 0 0 3px orange;
    font-weight: 400;
}

.slogan {
    color: white;
    text-shadow: 0 0 3px orange;
    width: 100%;
    text-align: center;

}

.header-socials {
    width: 50%;
    margin: 0 auto;
}

.header-socials ul a {
    color: inherit;
}

.header-socials ul {
    display: flex;
    list-style: none;
    font-size: 2em;
    color: white;
    justify-content: space-around;
}

.header .arrow-down {
    font-size: 2em;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
}

.header .arrow-down:hover {
    color: blue;
}

@media only screen and (max-width: 600px) {
    .menu .logo {
        display: none;
    }

    .menu {
        flex-direction: column;
        height: auto;
    }

    .menu li {
        padding: 1em;
    }

    .header h1 {
        font-size: 4em;
    }

    .header .menu a {
        font-size: 1em;
    }
}

/*Styling section feutures*/

.feutures {
    display: grid;
    padding: 0.5em;
    grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
    grid-auto-rows: auto;
    grid-gap: .33%;
    grid-row-gap: 1em;
}

.feuture article {
    display: flex;
    flex-direction: column;
    border-radius: 0.5em;
    overflow: hidden;
    border: 1px solid #dbdada;
    box-shadow: 2px 3px 6px #dbdada;

}

.feuture article img {
    width: 100%;
    height: 250px;
    max-height: 250px;
    object-fit: cover;
    object-position: center;
}

.feuture article h2 {
    padding: 0.5em;
    color: #612e1d;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.feuture article p {
    padding: 0.8em 0.2em 0.8em 0.8em;
}

.btn {
    width: 90%;
    margin: 1em auto;
    text-decoration: none;
    color: var(--main-bg-color);
    font-weight: 400;
    display: block;
    text-align: center;
    padding: 1em;
    background-color: orange;
    border-radius: 0.2em;
    transition: all 250ms ease;
    border: none;
}

.btn:hover {
    background-color: var(--main-bg-color);
    color: orange;
}

@media only screen and (max-width: 760px) {

    .feutures {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

}

/** Contact **/
.contact {
    display: flex;
    flex-direction: row-reverse;
    min-height: 100vh;
    background-image: url(../images/contacus.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    padding: 1em;
}

.contact-text,
.contact-form {
    flex: 1;
    padding: 2em;
}

.contact-text {
    line-height: 1.5em;
    background: #13131342;
    border-radius: 1em;

}

.contact-text h2 {
    text-transform: capitalize;
    margin-bottom: 1em;
}

.contact-form input,
.contact-form textarea {
    display: block;
    width: 100%;
    min-height: 40px;
}

.contact-form label {
    display: block;
    width: 100%;
    text-transform: capitalize;
}

.contact-form label+input,
.contact-form label+textarea {
    margin-top: 5px;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    border: 1px solid #440d5a;
    box-shadow: 0 0 4px #440d5a;
}

.contact-form input+label {
    margin-top: 10px;
}

.contact .btn:hover {
    background-color: rgba(245, 245, 245, 0.335);
    color: #fef6f4;
}

@media only screen and (max-width: 1024px) {

    .contact {
        flex-direction: column;
        justify-content: flex-start;
        min-height: 40%;
    }


    .contact-text,
    .contact-form {
        padding-bottom: 0.5em;
        padding-top: 0.5em;
    }

    .contact-text {
        flex: 0;
        padding-top: 1.5em;
        min-height: 181px;
    }

}

/** Footer **/

footer {
    background-color: #000000;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr 30px;
}

footer .socials,
footer .more {
    padding: 1em;
}

footer ul {
    list-style: none;
    margin-left: 1.5em;
    margin-top: 1em;
}

footer ul li,
footer h3 {
    color: #dbdada;
}

footer ul li a {
    color: inherit;
    font-size: 0.8em;
    text-decoration: none;

}

footer .copy {
    text-align: center;
    font-size: 0.7em;
    grid-column: span 3;
    color: rgba(109, 104, 104, 0.801);
}

@media only screen and (max-width: 600px) {
    footer {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 30px;
    }

    footer .copy {
        grid-column: span 1;
    }
}